.col-md-2.box input {
    width: 18px;
    text-align: center;
    border: none;
    justify-content: center;
    height: 100%;
}
.col-md-2.button_increment button {
    background-color: #4285f4;
    border-radius: 50%;
    box-shadow: none;
    outline: none;
    color: #fff;
    /* border: none; */
    -webkit-appearance: button-bevel;
}
.col-md-2.button_decrement button {
    background-color: #4285f4;
    color: #fff;
    border-radius: 50%;
    box-shadow: none;
    outline: none;
    -webkit-appearance: button-bevel;
    width: 24px;
    height: 29px;
}
i.fas.fa-trash {
    margin-left: 15px;
    color: red;
    font-size: 20px;
}
.img_height img {
    height: 100px !important;
}