.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    font-weight: 400;
    margin-top: 45px;
}
.padding{
    padding-left: 18px;
}
.paddimg_top{
    padding-top: 19px;
}
.paddimg_bottom{
    padding-top: 28px;
} 
.paddimg_bottom .float_right{
    float: right;
}