ul.ratings{
    list-style: none !important;
    display: inline-flex !important;
    padding: 0;
}
ul.ratings i {
    color:gold;
}
.carousel .slide img {

    object-fit: scale-down;
    height: 100%;
}
.inner-slider {
    height: 380px;
    width: 280px;
    overflow: hidden;
    margin: auto;
}
.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: #fff !important;
}

.col-md-1.box input {
    width: 18px;
    text-align: center;
    border: none;
    justify-content: center;
    height: 100%;
}
.col-md-1.button_increment button {
    background-color: #4285f4;
    border-radius: 50%;
    box-shadow: none;
    outline: none;
    color: #fff;
    /* border: none; */
    -webkit-appearance: button-bevel;
}
.col-md-1.button_decrement button {
    background-color: #4285f4;
    color: #fff;
    border-radius: 50%;
    box-shadow: none;
    outline: none;
    -webkit-appearance: button-bevel;
    width: 24px;
    height: 29px;
}